@model radio.ViewModels.IndexViewModel
@{
    ViewBag.Title = "25 Most Played Songs";
}
@{ 
    var i = 0;
}

<div class="row panel">
    <div class="panel-body">
        <div class="col-xs-12">
            <table class="table" id="AlbumTable">
                <thead>
                    <tr>
                        <th>
                            Artist
                        </th>
                        <th class="hidden-xs">
                            Album
                        </th>
                        <th>
                            Title
                        </th>
                        <th class="hidden-xs">
                            Genre
                        </th>
                        <th>
                            Play Count
                        </th>
                        <th>
                            Last Played
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.indexview)
            {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.artist)
                            </td>
                            <td class="hidden-xs">
                                @Html.DisplayFor(modelItem => item.album)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.title)
                            </td>
                            <td class="hidden-xs">
                                @Html.DisplayFor(modelItem => item.genre)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PlayCount)
                            </td>
                            <td>
                                @Html.DisplayFor(modelitem => item.LastPlayed)
                            </td>
                            <td>
                                <button type="button" class="btn btn-default" onclick="window.sm2BarPlayers[0].actions.play(@i);"><span class="glyphicon glyphicon-play"></span></button>
                            </td>
                        </tr>
                        i++;
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div id="UpdatePlay">
    @Html.Partial("~/Views/Shared/_Player.cshtml")
</div>

@section Scripts{
    @*
        Call DataTables Dependencies
    *@
    <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/DataTables/dataTables.bootstrap.min.js"></script>
    <script src="~/Scripts/DataTables/dataTables.buttons.min.js"></script>
    <script src="~/Scripts/DataTables/buttons.bootstrap.min.js"></script>
    <script src="~/Scripts/DataTables/buttons.html5.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
    <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
    <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
    <script src="http://cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>
    <script>
        function LoadSong(element) {
            var song = $(element).val();
            $.ajax({
                type: 'Post',
                url: '@Url.Action("Album", "Home")',
                data: { ID: song },
                success: function (data) {
                    $("#UpdatePlaylist").append(data);
                    //alert("success");
                },
                error: function (data) {
                    alert("error");
                }
            })

        };
    $('#myModal').on('shown.bs.modal', function () {
        $('#myInput').focus()
    })
    </script>
}