@model radio.ViewModels.IndexViewModel

@{
    ViewBag.Title = "Album";
}

@{
    int i = 0;
}

@Html.ActionLink("Back", "Catalog", new { artist = Model.artist, album = Model.album }, new { @class = "btn btn-default" })
<div class="row panel">
    <div class="panel-body">
        <div class="col-sm-12">
            <h2>@Html.DisplayFor(modelItem => Model.album)</h2>
            <h5> by @Html.DisplayFor(modelItem => Model.artist)</h5>
            <h6>@Model.Playlist songs lasting @Model.duration</h6>
        </div>
    </div>
</div>
<div class="row panel">
    <div class="panel-body">
        <div class="col-sm-3">
            @if (Model.Art != null)
            {
                <img style="max-width:100%;" src="data:image/png;base64,@Model.Art" alt="@Model.album" title="@Model.album" />
            }

        </div>


        <div class="col-xs-9">
            <table class="table" id="AlbumTable">
                <thead>
                    <tr>
                        <th>
                            Track Number
                        </th>
                        <th>
                            Title
                        </th>
                        <th>
                            Genre
                        </th>
                        <th>
                            Length
                        </th>
                        <th>
                            <a class="btn btn-default" href="@Url.Action("Album", "Home", new { artist = Model.artist, album = Model.album, shuffled = "yes" })"><span class="glyphicon glyphicon-random"></span></a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.indexview)
            {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.tracknumber)
                            </td>
                            <td>

                                @Html.DisplayFor(modelItem => item.title)

                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.genre)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.duration)
                            </td>
                            <td>
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <button type="button" class="btn btn-default" onclick="window.sm2BarPlayers[0].actions.play(@i);"><span class="glyphicon glyphicon-play"></span></button>
                                    <a class="btn btn-default" href="@Url.Action("AddToPlaylist", "Playlist", new { id = item.ID })"><span class="glyphicon glyphicon-plus"></span></a>
                                    <a class="btn btn-default" href="@Url.Action("Details", "Details", new { id = item.ID })"><span class="glyphicon glyphicon-edit"></span></a>
                                </div>
                            </td>
                        </tr>
                        i++;
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

    <div id="UpdatePlay">
        @Html.Partial("~/Views/Shared/_Player.cshtml")
    </div>


@section Scripts{
    @*
        Call DataTables Dependencies
    *@
<script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
<script src="~/Scripts/DataTables/dataTables.bootstrap.min.js"></script>
<script src="~/Scripts/DataTables/dataTables.buttons.min.js"></script>
<script src="~/Scripts/DataTables/buttons.bootstrap.min.js"></script>
<script src="~/Scripts/DataTables/buttons.html5.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
<script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
<script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
<script src="http://cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>
<script>
        $(document).ready(function () {
            // Setup DataTable
            $('#AlbumTable').DataTable({
                dom: 'lfrti',
                "bPaginate": false,
                "bLengthChange": false,
                "bFilter": true,
                "bInfo": false,
                "bAutoWidth": false,
                "searching": false,
                lengthMenu: [
            [-1],
            ['Show all']
                ],
                buttons: [
                ]
            });
            // Pull Search Field to the right
            $("#AlbumTable_filter").addClass("pull-right");
        });

        function LoadSong(element) {
            var song = $(element).val();
            $.ajax({
                type: 'Post',
                url: '@Url.Action("Album", "Home")',
                data: { ID: song },
                success: function (data) {
                    $("#UpdatePlaylist").append(data);
                    //alert("success");
                },
                error: function (data) {
                    alert("error");
                }
            })

        };
    $('#myModal').on('shown.bs.modal', function () {
        $('#myInput').focus()
    })
</script>
}