@model radio.ViewModels.IndexViewModel

@{
    ViewBag.Title = "Catalog";
}
@Html.ActionLink("Back", "Index", null, new { @class = "btn btn-default" })
<h2>@Model.artist<a class="btn btn-default pull-right" href="@Url.Action("Catalog", "Home", new { artist = Model.artist, shuffled = "yes" })"><span class="glyphicon glyphicon-random"></span></a></h2>
<div class="row panel">
    <div class="panel-body">
        <div class="row">
            @foreach (var item in Model.indexview)
            {
                if (item.Art != null)
                {
                    <div class="col-sm-2" style="height:250px">
                        <a href="@Url.Action("Album", "Home", new { artist = item.artist, album = item.album })"><img style="max-width:100%;max-height:150px;" src="data:image/png;base64,@item.Art" alt="@item.album" title="@item.album"></a>
                        <small>@item.album</small>
                    </div>
                }
                else
                {
                    <div class="col-sm-2" style="height:250px">
                        <a href="@Url.Action("Album", "Home", new { artist = item.artist, album = item.album })"><img style="max-width:100%;max-height:150px" src="~/image/No_image_available.svg" alt="@item.album" title="@item.album"></a>
                        <p>@item.album</p>
                    </div>
                }
            }
        </div>
    </div>
</div>





<div id="UpdatePlay">
    @Html.Partial("~/Views/Home/_Player.cshtml")
</div>

@section Scripts{
    @*
        Call DataTables Dependencies
    *@
<script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
<script src="~/Scripts/DataTables/dataTables.bootstrap.min.js"></script>
<script src="~/Scripts/DataTables/dataTables.buttons.min.js"></script>
<script src="~/Scripts/DataTables/buttons.bootstrap.min.js"></script>
<script src="~/Scripts/DataTables/buttons.html5.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
<script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
<script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
<script src="http://cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>
<script>
        $(document).ready(function () {
            // Setup DataTable
            $('#CatalogTable').DataTable({
                dom: 'lfrti',
                "bPaginate": false,
                "bLengthChange": false,
                "bFilter": true,
                "bInfo": false,
                "bAutoWidth": false,
                lengthMenu: [
            [-1],
            ['Show all']
                ],
                buttons: [
                ]
            });
            //Pull Search Field to the right
            $("#CatalogTable_filter").addClass("pull-right");
        });

</script>
}