@model radio.ViewModels.IndexViewModel

@{
    ViewBag.Title = "Catalog";
}
@Html.ActionLink("Back", "Index", null, new { @class = "btn btn-default" })
<h2>@Model.artist<a class="btn btn-default pull-right" href="@Url.Action("Catalog", "Home", new { artist = Model.artist, shuffled = "yes" })"><span class="glyphicon glyphicon-random"></span></a></h2>
<div class="row panel">
    <div class="panel-body">
        <div class="row">
            @foreach (var item in Model.indexview)
            {
                if (item.Art != null)
                {
                    <div class="col-sm-2" style="height:250px">
                        <a href="@Url.Action("Album", "Home", new { artist = item.artist, album = item.album })"><img style="max-width:100%;max-height:150px;" src="data:image/png;base64,@item.Art" alt="@item.album" title="@item.album"></a>
                        <small>@item.album</small>
                    </div>
                }
                else
                {
                    <div class="col-sm-2" style="height:250px">
                        <a href="@Url.Action("Album", "Home", new { artist = item.artist, album = item.album })"><img style="max-width:100%;max-height:150px" src="~/image/No_image_available.svg" alt="@item.album" title="@item.album"></a>
                        <small>@item.album</small>
                    </div>
                }
            }
        </div>
    </div>
</div>





<div id="UpdatePlay">
    @Html.Partial("~/Views/Shared/_Player.cshtml")
</div>

@section Scripts{

}