

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="mobile-web-app-capable" content="yes">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/sm2/script/soundmanager2.js"></script>
    <script src="~/sm2/demo/bar-ui/script/bar-ui.js"></script>
    <link href="~/sm2/demo/bar-ui/css/bar-ui.css" rel="stylesheet" />
    <link href="~/Content/simple-sidebar.css" rel="stylesheet" />




</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="col-xs-6 col-sm-3">
                    <a class="navbar-brand" href="@Url.Action("Index", "Home", new { area = "" })"><img style="width:100%;" src="~/image/logo.png" alt="musicology" title="musicology" /></a>
                </div>               
            </div>
            <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Playlists <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                @foreach (var item in Model.PlayList)
                                {
                                    <li>
                                        <a href="@Url.Action("Playlist", "Playlist", new { playlist = item.Playlist })">@item.Playlist</a>
                                    </li>
                                }
                                <li>
                                    <a href="@Url.Action("Playlist", "Playlist", new { playlist = "thisweek" })">New Songs This Week</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Upload", "Upload")">Sync Songs</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Browse <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>
                                    @Html.ActionLink("Genre", "Genre", "Browse")
                                </li>
                            </ul>
                        </li>
                        
                    </ul>
                
                
                @*@Html.Partial("_LoginPartial")*@
            </div>
        </div>
    </div>

                <div class="container body-content">
                    <br />
                    @RenderBody()
                    <hr />



                </div>



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
        $('.dropdown-toggle').dropdown()
    </script>
</body>
</html>
